Q1. How do you comment code in Python? What are the different types of comments?

Answer:<br />
There are three types of comments: single-line, multi-line, and docstring comments.<br />
- (i) Single-line comments begin with the “#” character. Anything that is written in a single line after ‘#’ is considered as a comment. The syntax for writing single-line comments is: # COMMENT
- (ii) Multi-line comments: Multi-line comments can be added by enclosing them in triple qoutes like this: """COMMENT""" or by adding # at the start of each comment line like this:<br />#COMMENT1<br />#COMMENT2<br />#COMMENT3
- (iii) Doc-string - Python provides an in-built feature called docstrings for commenting on modules, methods, functions, objects, and classes. They are written in the first line after defining a module, function, method, etc., using three quotation marks like this: <br />def myfunc():<br />    """DOC STRING"""

Q2. What are variables in Python? How do you declare and assign values to variables?

Answer:<br />
A variable is a string of characters and numbers associated with a piece of information. The assignment operator, denoted by the “=” symbol, is the operator that is used to assign values to variables in Python. The line x=1 takes the known value, 1, and assigns that value to the variable with name “x”. After executing this line, this number will be stored into this variable. Until the value is changed or the variable deleted, the character x behaves like the value 1.

In [1]:
x = 1
print(x)

1

Q3. How do you convert one data type to another in Python?

Answer<br />To convert between two data types, we can use the type name as a function. There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

In [2]:
x = "5"
print(f"Data type of x before change:{type(x)}")
x = int(x)
print(f"Data type of x after change:{type(x)}")

Data type of x before change:<class 'str'>
Data type of x after change:<class 'int'>

As we see above before data type change, the data type of x was str after type casting the data type changed to int. One thing to note here is the value of the variable should be valid for resulting data type. For example following type casting would throw an error:

In [4]:
try:
    x = "harry potter"
    print(f"Data type of x before change:{type(x)}")
    x = int(x)
    print(f"Data type of x after change:{type(x)}")
except Exception as e:
    print(e)

Data type of x before change:<class 'str'>
invalid literal for int() with base 10: 'harry potter'

The error says invalid literal for int() with base 10: 'harry potter' i.e. "harry potter" can not be converted to an integer. Another example of type casting:

In [5]:
x = 5
print(f"Data type of x before change:{type(x)}")
x = str(x)
print(f"Data type of x after change:{type(x)}")

Data type of x before change:<class 'int'>
Data type of x after change:<class 'str'>

Q4. How do you write and execute a Python script from the command line?

Answer:<br />

First create a python script with some python code and save it as afile with ".py" extension. For example let us say we have a python script named "MyCode.py". Now open a command line interface and navigate to the location of the "MyCode.py" file and run the file with preceded by key-word "python" i.e. run it with this command: "python MyCode.py".

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

Answer:

In [7]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(f"Original list:{my_list}")
print(f"sub-list after slicing:{sub_list}")

Original list:[1, 2, 3, 4, 5]
sub-list after slicing:[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Answer:

 Complex numbers are numbers created from two real numbers and an imaginary number. The imaginary number is squareroot of -1 and is denoted by j so if x is a real number and y is anther real number then you can create a complex number as (x + yj).

In python you can use complex function to create a complex number. This unction takes two arguments which are the two real numbers x and y. An example is given below:

In [11]:
z = complex(2, 3)
print("Complex number:", z)
print("type of z is:",type(z))

Complex number: (2+3j)
type of z is: <class 'complex'>

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Answer:

In [15]:
# creating a variable "age" and assigning value 25 to it
age = 25
print("value of variable 'age' is: ",age)

value of variable 'age' is:  25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Answer:

In [14]:
# creating a variable "price" and assigning value 9.99 to it
price = 9.99
#checking the data type of "price"
print("data type of 'price' is:", type(price))

data type of 'price' is: <class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

Answer:

In [16]:
# creating a variable "name" and assigning my name to it
name = "aniket vishnupurikar"
#printing the value of "name"
print("value of 'name' is:", name)

value of 'name' is: aniket vishnupurikar

Q10. Given the string "Hello, World!", extract the substring "World".

Answer:

In [18]:
#creating a variable s and assigning value "Hello, World!" to it
s = "Hello, World!"
print("Original string:", s)
#extracting "World" from s
s_ = s[7:-1]
print("extracted string:",s_)

Original string: Hello, World!
extracted string: World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

Answer:

In [20]:
#creating a variable "is_student" and assigning it a boolean value
is_student = True
print(f"value of 'is_student' is:{is_student}\nThe data type of 'is_student' is: {type(is_student)}")

value of 'is_student' is:True
The data type of 'is_student' is: <class 'bool'>