Q1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

ANSWER:

In [1]:
#string
s = "james bond"
l = ['j', 'a', 'm', 'e', 's']
f = 3.14
t = (1,2,3,4)

Q2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.<br />
What will be the data type of the above given variable.

Answer:
- (i) var1 is string
- (ii) var2 is str
- (iii) var3 is list
- (iv) var4 is int

Q3. Explain the use of the following operators using an example:
- (i) /
- (ii) %
- (iii) //
- (iv) **

Answer:

- (i) / is division operator used to divide a number by another number.
- example:

In [10]:
a = 5
b = 10
c = b/a
print(f"{b} divided by {a} is {c}")

10 divided by 5 is 2.0

- (ii) % is modulo operator used to get remainder after one number divides another
- example:

In [11]:
a = 11
b = 5
c = 11%5
print(f"remainder after {b} divides {a} is {c}")

remainder after 5 divides 11 is 1

- (iii) // is floor division. This operator will divide the first number by the second and round the result down to the nearest whole number
- example:

In [13]:
a = 11
b = 5
c = 11//5
print(f"reesult of floor division of {b} by {a} is {c}")

reesult of floor division of 5 by 11 is 2

- (iv) ** is power operator
- example:

In [17]:
a = 4
b = 2
c = a**2
print(f"{a} power {b} is {c}")

4 power 2 is 16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [26]:
l = [3.14, 9.8, 3*10e8, "james bond", ["nested", "list"], ("tuple", "inside", "a", "list"), {"dictionary":1}, "end", 
     "of", "list"]
for item in l:
    print(item)
print("*"*100)
print(f"length of the list is {len(l)}")

3.14
9.8
3000000000.0
james bond
['nested', 'list']
('tuple', 'inside', 'a', 'list')
{'dictionary': 1}
end
of
list
****************************************************************************************************
length of the list is 10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [27]:
b = 100
a = 10
cnt = 0
while b>=a:
    if b%a==0:
        cnt+=1
    b = b - 1
print(f"b is divisible iteratively by a {cnt} times")

b is divisible iteratively by a 10 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [28]:
import random
l=[]
n=25
for i in range(n):
    l.append(random.randint(1,100))

cnt = 0
for num in l:
    if num % 3:
        print(f"{num} is divisible by 3")

82 is divisible by 3
23 is divisible by 3
83 is divisible by 3
22 is divisible by 3
76 is divisible by 3
67 is divisible by 3
76 is divisible by 3
23 is divisible by 3
82 is divisible by 3
2 is divisible by 3
83 is divisible by 3
53 is divisible by 3
92 is divisible by 3
23 is divisible by 3
7 is divisible by 3
14 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer:

Mutable objects are those that allow you to change their value or data in place without affecting the object’s identity. In contrast, immutable objects don’t allow this kind of operation. You’ll just have the option of creating new objects of the same type with different values. <br />
As an example, list is mutable and tuple is immutable

In [30]:
l = [1,2,3,4,5]
print(f"original list:{l}")
l[0] = 1000
print(f"changed list: {l}")

original list:[1, 2, 3, 4, 5]
changed list: [1000, 2, 3, 4, 5]

In [32]:
t = (1,2,3,4,5)
print(f"original tuple:{t}")
try:
    t[0] = 1000
except Exception as e:
    print(e)

original tuple:(1, 2, 3, 4, 5)
'tuple' object does not support item assignment

As seen above we can change list elements by assignment but we can not do the same for a tuple